order allow,deny
allow from all

php_flag display_errors E_ALL

RewriteEngine On
AddDefaultCharset utf-8
Options +FollowSymLinks

RewriteRule ^surlapi/([a-zA-Z0-9_/]*)$ /surl.php?apiRequest=$1 [L,QSA]
RewriteRule ^surl$ /surl.php [L,QSA]
# Uncomment the line below if you have nothing else on this domain and the shorten script is your default page
RewriteRule ^$ /surl.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-F

RewriteRule ^([a-zA-Z0-9_^.]+)?$ /surlapi/surl/$1 [L,QSA]