h2
{
    font-weight: bold;
}
a:hover
{
    text-decoration: none;
}
.badge-s
{
    background-color: #428bca;
}
.badge-s:hover
{
    background-color: #2a6496;
}
.form-control-short
{
    width: 200px;
}
.margin-left-10
{
    margin-left: 10px;
}
.statistics
{
    font-size: 10px;
}
